<!DOCTYPE html>
{% load static %}
<html lang='en'>
	<head>
		<title> Photo Gallery Page </title>
		<!--<link rel="stylesheet" type="text/css" href="mystyle.css">

		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">-->

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">
	</head>

	<body>

		<div id="weblogo">
			<!--<img src="logo.png" width="120" height="100px">-->
		</div>
	    <h1>Welcome to the Windsor City!!</h1>

    	<h2>The automotive capital of Canada</h2>

<div id="links-div">
             <ul class="nav nav-tabs">
                 <li class="hbar1"><a class="category" href = "/home">Home</a></li>
                 <li class="hbar1"><a class="category" href = "/about">About</a></li>
                 <li class="hbar1"><a class="category" href = "/photogallery">Photo Gallery</a></li>
                 <li class="hbar1"><a class="category" href = "/myaccount">My Account</a></li>
                 <li class="hbar1"><a class="category" href = "/register">Register</a></li>
             </ul>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-3 col-lg-3">
                <img src="https://st.depositphotos.com/2291517/4015/i/600/depositphotos_40155451-stock-photo-any-questions-concept.jpg" width="100px" height="120px" alt="Any image here" style="margin: 10px; float: right">
            </div>
            <div class="col-md-3 col-sm-3 col-lg-3">
                <img src="https://st.depositphotos.com/2291517/4015/i/600/depositphotos_40155451-stock-photo-any-questions-concept.jpg" width="100px" height="120px" alt="Any image here" style="margin: 10px; float: right">
            </div>
            <div class="col-md-3 col-sm-3 col-lg-3">
                <img src="https://st.depositphotos.com/2291517/4015/i/600/depositphotos_40155451-stock-photo-any-questions-concept.jpg" width="100px" height="120px" alt="Any image here" style="margin: 10px; float: right">
            </div>
            <div class="col-md-3 col-sm-3 col-lg-3">
                <img src="https://st.depositphotos.com/2291517/4015/i/600/depositphotos_40155451-stock-photo-any-questions-concept.jpg" width="100px" height="120px" alt="Any image here" style="margin: 10px; float: right">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3 col-lg-3">
                <img src="https://st.depositphotos.com/2291517/4015/i/600/depositphotos_40155451-stock-photo-any-questions-concept.jpg" width="100px" height="120px" alt="Any image here" style="margin: 10px; float: right">
            </div>
            <div class="col-md-3 col-sm-3 col-lg-3">
                <img src="https://st.depositphotos.com/2291517/4015/i/600/depositphotos_40155451-stock-photo-any-questions-concept.jpg" width="100px" height="120px" alt="Any image here" style="margin: 10px; float: right">
            </div>
            <div class="col-md-3 col-sm-3 col-lg-3">
                <img src="https://st.depositphotos.com/2291517/4015/i/600/depositphotos_40155451-stock-photo-any-questions-concept.jpg" width="100px" height="120px" alt="Any image here" style="margin: 10px; float: right">
            </div>
            <div class="col-md-3 col-sm-3 col-lg-3">
                <img src="https://st.depositphotos.com/2291517/4015/i/600/depositphotos_40155451-stock-photo-any-questions-concept.jpg" width="100px" height="120px" alt="Any image here" style="margin: 10px; float: right">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3 col-lg-3">
                <img src="https://st.depositphotos.com/2291517/4015/i/600/depositphotos_40155451-stock-photo-any-questions-concept.jpg" width="100px" height="120px" alt="Any image here" style="margin: 10px; float: right">
            </div>
            <div class="col-md-3 col-sm-3 col-lg-3">
                <img src="https://st.depositphotos.com/2291517/4015/i/600/depositphotos_40155451-stock-photo-any-questions-concept.jpg" width="100px" height="120px" alt="Any image here" style="margin: 10px; float: right">
            </div>
            <div class="col-md-3 col-sm-3 col-lg-3">
                <img src="https://st.depositphotos.com/2291517/4015/i/600/depositphotos_40155451-stock-photo-any-questions-concept.jpg" width="100px" height="120px" alt="Any image here" style="margin: 10px; float: right">
            </div>
            <div class="col-md-3 col-sm-3 col-lg-3">
                <img src="https://st.depositphotos.com/2291517/4015/i/600/depositphotos_40155451-stock-photo-any-questions-concept.jpg" width="100px" height="120px" alt="Any image here" style="margin: 10px; float: right">
            </div>
        </div>
    	<!--<h2 style="color: blue;">This is the about page</h2>

        <div>

         <div id="links-div">
             <ul class="nav nav-tabs">
                 <li class="hbar1"><a class="category" href = "index.html">Home</a></li>
                 <li class="hbar1"><a class="category" href = "about.html">About</a></li>
                 <li class="hbar1"><a class="category" href = "myacct.html">My Account</a></li>
                 <li class="hbar1"><a class="category" href = "purchase.html">Purchase Online</a></li>
             </ul>
        </div>-->
		<!--<h3 class="para"> LifeSport </h3>

		<h4 class="para"> Our company is proud to offer you the best quality products <br>
		your shopping experience with LifeSport will be unforgetable </h4></p>-->
	</body>
</html>

